@model IEnumerable<ProductsandCategories.Models.Products_and_Categories>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Products.ProductsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.CategoriesId)
            </td>
            <td>
                <a asp-action="ViewProducts" >ViewProducts</a> |
                <a asp-action="ViewCategories" >ViewCategories</a> |
                @*<a asp-action="Delete" asp-route-id="@item.Products_and_CategoriesId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
